* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  height: 100%
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block
}

[data-nav-menu-open] {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #C8C8C8;
  text-align: center;
  overflow: visible;
  min-width: 200px
}

.w--nav-link-open {
  display: block;
  position: relative
}

.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%
}

.w-nav-overlay [data-nav-menu-open] {
  top: 0
}

.w-nav[data-animation="over-left"] .w-nav-overlay {
  width: auto
}

.w-nav[data-animation="over-left"] .w-nav-overlay,
.w-nav[data-animation="over-left"] [data-nav-menu-open] {
  right: auto;
  z-index: 1;
  top: 0
}

.w-nav[data-animation="over-right"] .w-nav-overlay {
  width: auto
}

.w-nav[data-animation="over-right"] .w-nav-overlay,
.w-nav[data-animation="over-right"] [data-nav-menu-open] {
  left: auto;
  z-index: 1;
  top: 0
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.w-nav-button:focus {
  outline: 0
}

.w-nav-button.w--open {
  background-color: #C8C8C8;
  color: white
}

.w-nav[data-collapse="all"] .w-nav-menu {
  display: none
}

.w-nav[data-collapse="all"] .w-nav-button {
  display: block
}

.w--nav-dropdown-open {
  display: block
}

.w--nav-dropdown-toggle-open {
  display: block
}

.w--nav-dropdown-list-open {
  position: static
}

@media screen and (max-width: 991px) {
  .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none
  }

  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block
  }
}

@media screen and (max-width: 767px) {
  .w-nav[data-collapse="small"] .w-nav-menu {
    display: none
  }

  .w-nav[data-collapse="small"] .w-nav-button {
    display: block
  }

  .w-nav-brand {
    padding-left: 10px
  }
}

@media screen and (max-width: 479px) {
  .w-nav[data-collapse="tiny"] .w-nav-menu {
    display: none
  }

  .w-nav[data-collapse="tiny"] .w-nav-button {
    display: block
  }
}

.w-tabs {
  position: relative
}

.w-tabs:before,
.w-tabs:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2
}

.w-tabs:after {
  clear: both
}

.w-tab-menu {
  position: relative
}

.w-tab-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 9px 30px;
  text-align: left;
  cursor: pointer;
  color: #222222;
  background-color: #dddddd
}

.w-tab-link.w--current {
  background-color: #C8C8C8
}

.w-tab-link:focus {
  outline: 0
}

.w-tab-content {
  position: relative;
  display: block;
  overflow: hidden
}

.w-tab-pane {
  position: relative;
  display: none
}

.w--tab-active {
  display: block
}

@media screen and (max-width: 479px) {
  .w-tab-link {
    display: block
  }
}

.w-ix-emptyfix:after {
  content: ""
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.w-dyn-empty {
  padding: 10px;
  background-color: #dddddd
}

.w-dyn-hide {
  display: none !important
}

.w-dyn-bind-empty {
  display: none !important
}

.w-condition-invisible {
  display: none !important
}

.wf-layout-layout {
  display: grid !important
}

.wf-layout-cell {
  display: flex !important
}

.navbar-logo-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 0px solid #d9d2d2;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
  background-color: transparent;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  margin-bottom: 0px;
  padding: 20px 0px;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-6 {
  font-family: Bedstead, sans-serif;
  font-size: 28px;
  line-height: 24px;
}

.text-span-12 {
  color: #ed1b34;
}

.wide-div {
  width: 1200px;
  max-width: 90vw;
}

.section-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px none #d9d2d2;
}

.hero-sub {
  margin-top: 54px;
  margin-bottom: 80px;
  font-size: 20px;
  line-height: 28px;
}

.section-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-divider {
  margin-right: 20px;
  font-size: 20px;
}

.div-block-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-37.pad {
  margin-bottom: 60px;
}

.div-block-38 {
  width: 100vw;
  height: 1px;
}

.div-block-39 {
  height: 337px;
  background-image: url("https://uploads-ssl.webflow.com/60de647868a014db051ba0cc/62fafc331e697b8d56ead84b_hbc-logos.png");
  background-position: 0% 0%;
  background-size: contain;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-41 {
  width: 1000px;
  max-width: 95vw;
}

.div-block-42 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.inmost-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 950px;
  max-width: 90vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.inmost-div.color {
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-style: solid;
  border-width: 1px;
}

.inner-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-8 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.paragraph-12 {
  margin-top: 12px;
  line-height: 22px;
  font-weight: 400;
}

.col-div {
  padding: 20px 0px;
}

.image-7 {
  padding: 0px;
}

.paragraph-13 {
  margin-bottom: 20px;
  line-height: 24px;
}

.paragraph-13.no-bottom {
  margin-bottom: 0px;
}

.div-block-43 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-16 {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 1px;
}

.bottom-link {
  font-size: 14px;
}

.div-block-44 {
  width: 800px;
  max-width: 90vw;
}

.nav-link-2 {
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px 0px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-2:hover {}

.nav-link-2:focus-visible {
  border-radius: 4px;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
}

.team-link {
  text-decoration: none;
}

.hero-header-new {
  padding-right: 83px;
  font-family: Bedstead, sans-serif;
  font-size: 46px;
  line-height: 50px;
}

.column-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.columns-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-18 {
  padding-right: 35px;
}

.div-block-45 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}